<div class="">
  <% if @usuario %>
    <% if @usuario.alumno.blank?  %>
      <%= render :partial => "shared/messages", :locals => { :msg => "El usuario no esta registrado en el sistema", :class_name => "error" } %>
    <% else %>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2  col-lg-6 col-lg-offset-3 espacio">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Cambiar Contraseña</h4>
            </div>
            <%= form_tag(:action => "save_password", :controller => "home") do %>
              <div class="panel-body">
                <div class="foto center-block">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="table-responsive">
                      <table class="table table-user-information table-bordered table-list">
                        <tbody>
                        <tr>
                          <th class="info">Usuario: </th>
                          <td> <%= label_tag :name, @usuario.login, class: "form-label" %> </td>
                          <%= hidden_field_tag :id,  @usuario.id %>
                        </tr>
                        <tr>
                          <th class="info">Contraseña: </th>
                          <td>
                            <%= password_field_tag :password, "", placeholder: 'Nueva contraseña', class: "form-control", autocomplete: "off" %>
                          </td>
                        </tr>
                        <tr>
                          <th class="info">Confirmación de Contraseña:</th>
                          <td>
                            <%= password_field_tag :password_confirmation, "", placeholder: 'Confirmar Nueva contraseña', class: "form-control", autocomplete: "off" %>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <%= button_tag(type: "submit" , data: { confirm: '¿Está seguro que desea guardar los cambios?'}, class: 'tag-tooltip', title: 'Se recomienda usar una contraseña segura que no uses para ningún otro sitio', 'data-toggle' => 'tooltip', 'data-placement' => 'right' , disable_with: "Guardando", class: "btn btn-primary") do %>
                    <span class="glyphicon glyphicon-save"></span> Guardar
                  <% end %>

                  <%= link_to(user_data_home_index_path, class: "btn btn-danger") do %>
                    <span class="fa fa-close"></span> Cancelar
                  <% end %>
                </div>
                <div class="text-center">

                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>