<table class="table table-striped ">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">¿Qué son las Estancias Profesionales?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      La Universidad de la Costa a través de la Coordinación de Estancias Profesionales fomenta la integración del alumno con el sector productivo, el cual forma parte de su desarrollo profesional a partir del sexto semestre con la finalidad de cubrir un mínimo de 560 horas en dos periodos de verano.
      <br><br>
      <span class="negritaObjetivo">Objetivos</span>
      <br>
      <ul type="square" style="margin-left:4em">
        <li>Fortalecer, desarrollar y consolidar la vinculación de los alumnos con el sector productivo municipal, estatal, nacional e internacional.</li>
        <li>Propiciar experiencias útiles para la futura integración del alumno en el ámbito laboral.</li>
        <li>Coadyuvar en la formación del alumno a través del desarrollo de habilidades y capacidades, para desempeñar cualquier tarea relacionada con su perfil de formación académica.</li>
        <li>Contribuir a la formación integral del alumno, a través de la combinación de conocimientos teóricos y prácticos adquiridos en la Universidad, complementados con actividades en los ámbitos laboral y profesional.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">¿En qué sectores se pueden realizar?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      Los alumnos pueden desarrollar sus Estancias Profesionales en diferentes empresas del sector público, social o privado, de acuerdo al perfil de cada carrera.
      <br>
    </td>
  </tr><tr>
    <th class="header-table-estancias">¿Cuántas horas y periodos se deben cumplir?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno da inicio con su proceso de estancias profesionales a partir del sexto semestre con la finalidad de cubrir un mínimo de 560 horas en dos periodos de verano. Cubriendo en cada uno de ellos 280 horas (no se podrán liberar en un solo periodo).
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">Periodos de Estancias Profesionales</th>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="text-left negritaObjetivo">Fechas para los Periodos de Estancias Profesionales</span>
      </h4>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="style_periodos">Periodo</th>
          <th class="style_periodos">Fecha de Inicio</th>
          <th class="style_periodos">Fecha de Término</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td_periodos">Primero</td>
          <td class="td_periodos"><%=(@inicio_periodo_uno == nil)?  "No Registrado": (l @inicio_periodo_uno)%></td>
          <td class="td_periodos"><%= (@fin_periodo_uno == nil)?  "No Registrado": (l @fin_periodo_uno)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Segundo</td>
          <td class="td_periodos"><%= (@inicio_periodo_dos == nil)?  "No Registrado": (l @inicio_periodo_dos)%></td>
          <td class="td_periodos"><%= (@fin_periodo_dos == nil)?  "No Registrado": (l @fin_periodo_dos)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Tercero</td>
          <td class="td_periodos"><%= (@inicio_periodo_tres == nil)?  "No Registrado": (l @inicio_periodo_tres)%></td>
          <td class="td_periodos"><%= (@fin_periodo_tres == nil)?  "No Registrado": (l @fin_periodo_tres)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Cuarto</td>
          <td class="td_periodos"><%= (@inicio_periodo_cuatro == nil)?  "No Registrado": (l @inicio_periodo_cuatro)%></td>
          <td class="td_periodos"><%= (@fin_periodo_cuatro == nil)?  "No Registrado": (l @fin_periodo_cuatro)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Quinto</td>
          <td class="td_periodos"><%= (@inicio_periodo_cinco == nil)?  "No Registrado": (l @inicio_periodo_cinco)%></td>
          <td class="td_periodos"><%= (@fin_periodo_cinco == nil)?  "No Registrado": (l @fin_periodo_cinco)%></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">¿Qué requisitos debe cumplir el alumno para realizar sus Estancias Profesionales?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno debe tomar en cuenta lo siguiente en el momento de iniciar con su trámite de estancias profesionales:
      <ul type="a" style="margin-left:4em">
        <li>Ser alumno regular con un 60% de créditos aprobados.</li>
        <li>Estar dado de alta en el IMSS y contar con la Vigencia de Derecho.</li>
        <li>Tener vigente su cuenta de correo electrónico de la Universidad (preferentemente).</li>
        <li>Contar con su credencial de estudiante vigente e identificación oficial.</li>
        <li>Solicitar y requisitar la hoja de Solicitud de Estancias Profesionales.</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>