<table class="table table-striped ">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">¿Qué son las Estancias Profesionales?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      De acuerdo al artículo 90 del Reglamento de Alumnos de Licenciatura la Estancia Profesional es la actividad académica obligatoria que deberá realizar el alumno al finalizar el sexto y el octavo semestres.
      <br>La gestión, desarrollo y seguimiento de la Estancia Profesional estará a cargo del Departamento de Servicios Escolares y deberá contar con el visto bueno de la Jefatura de Carrera.
      <br>Para el caso del área de la salud, la Estancia Profesional consiste en prácticas que forman parte de los planes de estudios, que se rigen de acuerdo a las Normas Oficiales Mexicanas para la utilización de campos clínicos para las prácticas clínicas y servicio social en el área de la salud, emitidas por la Secretaria de Salud.
      <br><br>
      <span class="negritaObjetivo">Objetivos de las Estancias Profesionales</span>
      <br>
      <ul type="square" style="margin-left:4em">
        De acuerdo al artículo 92 del Reglamento de Alumnos de Licenciatura, la Estancia Profesional tiene lo siguientes objetivos:
        <br>
        <li>Fortalecer, desarrollar y consolidar la vinculación de los alumnos con el sector productivo municipal, estatal, nacional e internacional.</li>
        <li>Propiciar experiencias útiles para la futura integración del alumno en el ámbito laboral.</li>
        <li>Coadyuvar en la formación del alumno a través del desarrollo de habilidades y capacidades, para desempeñar cualquier tarea relacionada con su perfil de formación académica.</li>
        <li>Contribuir a la formación integral del alumno, a través de la combinación de conocimientos teóricos y prácticos adquiridos en la Universidad, complementados con actividades en los ámbitos laboral y profesional.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">¿En qué sectores se pueden realizar?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      De acuerdo al plan de estudios el alumno deberá realizar la Estancia Profesional en los sectores público, social o privado. Para la programación de las estancias profesionales se considerarán aquellas instituciones y empresas en donde se desarrollen y apliquen los conocimientos del alumno dentro del área de su especialidad (artículo 91 del Reglamento de Alumnos de Licenciatura).
      <br>
  </tr><tr>
    <th class="header-table-estancias">¿Cuántas horas y periodos se deben cumplir?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      La Estancia Profesional, comprende dos periodos durante el verano. En cada periodo se deberán cubrir como mínimo 280 horas, en total se deberán cubrir 560 horas por los dos periodos. Sólo se podrá realizar una estancia por periodo de verano.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">Periodos de Estancias Profesionales</th>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="text-left negritaObjetivo">Fechas para los Periodos de Estancias Profesionales</span>
      </h4>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="style_periodos">Periodo</th>
          <th class="style_periodos">Fecha de Inicio</th>
          <th class="style_periodos">Fecha de Término</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td_periodos">Primero</td>
          <td class="td_periodos"><%=(@inicio_periodo_uno == nil)?  "No Registrado": (l @inicio_periodo_uno)%></td>
          <td class="td_periodos"><%= (@fin_periodo_uno == nil)?  "No Registrado": (l @fin_periodo_uno)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Segundo</td>
          <td class="td_periodos"><%= (@inicio_periodo_dos == nil)?  "No Registrado": (l @inicio_periodo_dos)%></td>
          <td class="td_periodos"><%= (@fin_periodo_dos == nil)?  "No Registrado": (l @fin_periodo_dos)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Tercero</td>
          <td class="td_periodos"><%= (@inicio_periodo_tres == nil)?  "No Registrado": (l @inicio_periodo_tres)%></td>
          <td class="td_periodos"><%= (@fin_periodo_tres == nil)?  "No Registrado": (l @fin_periodo_tres)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Cuarto</td>
          <td class="td_periodos"><%= (@inicio_periodo_cuatro == nil)?  "No Registrado": (l @inicio_periodo_cuatro)%></td>
          <td class="td_periodos"><%= (@fin_periodo_cuatro == nil)?  "No Registrado": (l @fin_periodo_cuatro)%></td>
        </tr>
        <tr>
          <td class="td_periodos">Quinto</td>
          <td class="td_periodos"><%= (@inicio_periodo_cinco == nil)?  "No Registrado": (l @inicio_periodo_cinco)%></td>
          <td class="td_periodos"><%= (@fin_periodo_cinco == nil)?  "No Registrado": (l @fin_periodo_cinco)%></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">¿Qué requisitos deberá cumplir el alumno para realizar sus Estancias Profesionales?</th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Tramitar el carnet de citas</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>